.search-btn {
    width: 300px;
    margin: auto;
}

.search-container {
    display: flex;
    flex-direction: column;
}
.container {
    margin: 1rem;
    mat-card {
        padding:1rem;
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        width: 30%;
    }
    
}

mat-card{
    margin-bottom: 1rem;
}